:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 2px solid red;*/
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

img {
    display: block;
}

/* header */

.header {
    padding-top: 24px;
    padding-bottom: 24px;

}
.header-logo-noaccent {
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-accent-white{
    color:var(--navyblue)
}

.header-logo-accent{
        color: #4D5AE5;
        font-size: 18px;
        font-family:"Raleway", sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 332px;
    border-bottom: 1px solid #e7e9fc
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    
}
.header-menu {
    display: flex;
    gap: 40px;
}

.header-adress {
    display: flex;
    gap: 40px;
}

.header-menu-item{
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-menu-item:hover {
   color: #404bbf;
}

.header-menu-item:focus{
color: #404bbf;
}

.header-menu-info{
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
}

.header-menu-info:hover {
   color: #404bbf; 
}
.header-menu-info:focus {
    color: #404bbf;
}

.address-menu-item {
   font-style: normal;
}

.container-hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    
}
.hero{
    background-color: #2E2F42;

}

.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    border-radius: 4px;
}


.hero-btn{
    color: #FFF;
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 4px;
}

.hero-btn:hover{
background-color: #404BBF;
}
.hero-btn:focus {
    background-color: #404BBF;
}

.container-adventages{

}

.adventages{
  padding-top: 120px;
  padding-bottom: 120px;  
}

.adventages-list {
    width: 100%;
    display: flex;

}

.adventages-item {
    width: calc((100% - 3*24) / 4);

}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
}

.adventages-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 8px;
}

.adventages-item-text {
        color: #434455;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-right: 24px;
}

.work {}


.work-title {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        max-width: 325px;
        margin: 0 auto;
        margin-bottom: 72px;
        gap: 24px;

}

.work-item {
    width: calc((100%-2*24) / 3)
}

.work-menu {
    display: flex;
    padding-bottom: 120px;
}

.team {
    background-color: #F4F4FD
}

.team-title {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 72px;
        max-width: 164px;
        margin: 0 auto;

}

.team-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.list {}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100%-3*24) / 4);
}

.title-h {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 8px;
        padding-left: 16px;
}

.text-p {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        padding-left: 16px;
}

.container-footer {

}

.footer-item {
    background-color: #2E2F42;
    padding-top: 100.5px;
    
}

.footer-logo {
    color: #F4F4FD;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-top: 105.5px
}

.footer-logo-accent {
    color: #4D5AE5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
}

.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
        padding-top: 17.5px;
        padding-bottom: 100px;
}

.btn-item {
display: flex;
align-items: flex-start;
padding-left: 327px;
width: calc((100%-4*24)/5);
gap: 24px;
padding-top: 96px;
padding-bottom: 72px;

}

.text-button{
    color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #F4F4FD;
        cursor: pointer;   
        border-radius: 4px;
        border: 1px solid  #E7E9FC;
}


.btn-web{
width: 116px;
}


.text-button:hover{
    background-color: #404BBF;
    color: #FFF;
        text-align: center;
}
.text-button:focus{
    background-color: #404BBF;
    color:  #FFF;
        text-align: center;
}
.img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: calc((100% - 8*24) / 9);
    padding-bottom: 120px;
}

.img-box {
        border: 1px solid var(--cornflower, #E7E9FC);
            background: var(--white, #FFF);
}